.table {
    width: 20em;
    border-bottom: 5px solid  #7d6fdd;
    border-top: 5px solid  #7d6fdd;
    margin-top: 0px;
}

header {
    font-family: 'Open Sans', sans-serif;
    width: 20em;
    // color: #54b8e6;
}